body {
    background-color: black;
    font-family: Verdana Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Headings*/

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secondary {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.header--subheader {
    color: gray;
    font-size: 21px;
}

/* Links */

.link--cta {
    color: aquamarine;
    font-size: 16px;
}

