body {
    background-color: black;
    font-family: Verdana Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link--cta {
    color: aquamarine;
    font-size: 16px;
}


